// Google Fonts Raleway

@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web&display=swap");

// Variables

$foreColor: #19647e;
$backColor: #0c0f0a;
$txtColor: #f3f1f0;

// Iniciando y configurando márgenes

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;

  button {
    outline: none;
    border: none;
    margin: 18px 0;
    padding: 20px 40px;
    background: darken($foreColor, 10);
    color: $txtColor;
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.1s;

    &:hover {
      background: $foreColor;
    }
  }
}

body {
  font-family: "Raleway";
  background: $backColor;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

// Barra de navegación

nav {
  z-index: 9999;

  a {
    display: inline-block;
    font-weight: 400;
    text-decoration: none;

    color: $txtColor;
    transition: 0.3s;
    text-shadow: 0px 0px 5px #000000;

    &:hover {
      color: $foreColor;
    }
  }

  .desktop {
    z-index: 9999;
    height: auto;
    width: 100%;
    position: fixed;
    overflow: hidden;
    transition: 0.3s;
    ul {
      padding: 0;
      margin: 0;
      text-align: center;
    }
    li {
      display: inline;

      a {
        margin: 1em 3em;
      }
    }
  }
  .mobile {
    display: none;
  }

  .btn {
    display: none;
    position: fixed;
    z-index: 999;
  }
}

.solid {
  background: $backColor;
}

.scrollSnap {
  scroll-snap-align: center;
}

// Contenedor modular para las secciones

.container {
  height: 100vh;
  text-align: center;
  margin: 0 auto;
  padding: 0 5rem;
  color: $txtColor;
  hr {
    border: none;
    border-bottom: 3px solid lighten($color: $backColor, $amount: 10);
  }
  h1,
  h2,
  h3 {
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 8px;
    text-shadow: 0px 0px 6px black;
  }

  h1 {
    font-size: 54px;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
  }

  p {
    margin: 20px 0;
    line-height: 24px;
  }

  img {
    width: 100%;
  }
}

// CENTER ALL THE THINGS!

.center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Primera sección
#home {
  background: linear-gradient(
      to bottom,
      rgba($backColor, 0.2),
      rgba($backColor, 1)
    ),
    url("../src/backgrounda.webp") fixed no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;

  .container {
    margin-top: 34vh;
  }

  h2 {
    font-family: "Titillium Web", sans-serif;
    font-weight: bold;
    color: darken($txtColor, 35);
    font-size: 1em;
    letter-spacing: 1em;
    margin-bottom: 3em;
  }

  img {
    width: 80%;
    height: auto;
    margin-bottom: 1em;
  }
}

// Overview
#overview {
  //padding-top: 35vh;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: left;

  i {
    font-size: 0.8em;
  }

  p {
    margin-left: 1em;
  }

  img {
    border-radius: 30px;
  }
}

// Co-op Section

#coop {
  background: linear-gradient(
      to bottom,
      rgba(darken($backColor, 15), 0.8),
      rgba(darken($backColor, 15), 0.8)
    ),
    url("../src/backgroundb.webp") fixed no-repeat;
  background-size: cover;
  background-position: center center;
  text-transform: lowercase;

  i {
    font-size: 10em;
    margin-bottom: 0.2em;
  }

  h2 {
    font-size: 3em;
    margin-bottom: -3px;
  }

  h3 {
    font-size: 1.3em;
    letter-spacing: 0.2em;
    color: darken($txtColor, 30);
    margin-bottom: 1em;
  }
}

// Features

#features {
  text-shadow: 0px 0px 6px black;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(
      to bottom,
      rgba(darken($backColor, 15), 0.8),
      rgba(darken($backColor, 15), 0.8)
    ),
    url("../src/backgroundc.webp") fixed no-repeat;
  background-size: cover;
  .item {
    text-align: center;
    color: $txtColor;
    padding: 1em;
    width: 23%;

    h4 {
      font-size: 1.5em;
      font-weight: bold;
      i {
        color: lighten($foreColor, 50);
        font-size: 3em;
        display: block;
        margin-bottom: 10px;
      }
      margin-bottom: 1em;
    }

    p {
      margin-bottom: 2em;
    }

    button {
      align-self: flex-end;
    }
  }
}

// Subscribe Section

#subscribe {
  height: 50vh;
  background: $backColor;
  //padding: 8rem 0;
  text-align: center;

  h2 {
    color: $txtColor;
    font-size: 3em;
  }

  p {
    color: white;
    margin-top: 1em;
    padding: 0 3em;
  }

  input {
    width: 60%;
    background: none;
    border: 2px solid $foreColor;
    border-radius: 30px 0px 0px 30px;
    padding: 20px;
    font-weight: bold;
    color: $txtColor;
    text-align: center;
    margin: 0;
    transition: 0.3s;

    &::placeholder {
      color: darken($txtColor, 15);
      text-transform: uppercase;
      font-weight: 400;
    }

    &:focus {
      border: none;
      outline: none;
      border: 2px solid darken($foreColor, 10);
    }
  }

  button {
    transition: 0.3s;
    border-radius: 0px 30px 30px 0px;
    padding: 23px;
    margin-left: -6px;
  }
}

// Footer

footer {
  height: auto;
  background-color: $backColor;
  padding: 1.6rem 1rem;
  display: flex;
  flex-wrap: wrap;

  .leftFootSide {
    width: 50%;

    img {
      margin: 0;
      padding: 0;
    }

    h2 {
      font-size: 8px;
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;
      color: white;

      font-weight: lighter;
    }
  }

  .rightFootSide {
    border-left: 1px solid #3f3f3f;
    padding-left: 1.6rem;
    width: 50%;
    text-align: right;

    h1 {
      font-family: "Montserrat";
      font-weight: bolder;
      font-size: 18px;
      text-transform: uppercase;
      color: #555;
      margin-bottom: 15px;
    }

    ul {
      list-style-type: none;

      a {
        text-decoration: none;
        color: #aaa;
        font-family: "Montserrat";
        text-transform: lowercase;
        line-height: 2em;
        font-size: 12px;
        transition: 0.3s;

        &:hover {
          color: $foreColor;
        }
      }
    }
  }

  .bottomFootSide {
    padding: 0.5em;
    width: 100%;
    text-align: center;

    p {
      color: white;
      text-transform: uppercase;
      font-size: 8px;
      font-family: "Montserrat";
    }

    img {
      margin-left: 3px;
    }
  }
}

/*
==================================
=         Responsiveness         =
==================================
*/

@media (min-width: 520px) and (max-width: 850px) {
  nav {
    .desktop {
      li {
        a {
          margin: 1em;
          font-size: 0.8em;
        }
      }
    }
  }

  #overview {
    height: auto;
    display: block;

    hr {
      margin-bottom: 1em;
    }

    p {
      margin: 0 0 2em 0;
      text-align: right;
      line-height: 2em;
    }

    img {
      display: none;
    }

    button {
      margin-bottom: 2em;
    }
  }

  #features {
    flex-direction: column;
    height: auto;
    padding: 3em 0;
    .item {
      width: 90%;
      height: auto;
    }
  }
}

@media (min-width: 320px) and (max-width: 520px) {
  nav {
    height: auto;
    position: fixed;

    i {
      padding: 20px;
      background: rgba($backColor, 0.9);
      border-radius: 0px 0px 30px 0px;
    }

    .btn {
      display: block;
    }

    .desktop {
      display: none;
    }

    .mobile {
      display: block;

      a {
        z-index: 2;
        position: absolute;
        color: $txtColor;
        font-size: 1.3em;
        transition: 0.3s;
        margin: 1em;
        text-decoration: none;

        &:hover {
          color: $foreColor;
        }
      }

      .hamburgerMenu {
        z-index: 1;
        position: relative;
        background: rgba($backColor, 0.9);
        height: 100vh;
        width: 0px;
        transition: 0.5s;

        ul {
          margin: 5em 1.5em;
          li {
            margin-bottom: 2em;
            letter-spacing: 3px;
            font-size: 0.8em;
            text-transform: lowercase;
          }
        }

        img {
          max-width: 100px;
          margin: 2.5em;
        }
      }
    }
  }

  .container {
    padding: 0 2rem;
  }

  #home {
    margin: 0;

    img {
      width: 100%;
      height: 100%;
    }

    h2 {
      letter-spacing: 3px;
    }
  }

  #overview {
    height: auto;
    display: block;

    hr {
      margin-bottom: 1em;
    }

    p {
      margin: 0 0 2em 0;
      text-align: right;
      line-height: 2em;
    }

    img {
      display: none;
    }

    button {
      margin-bottom: 2em;
    }
  }

  #coop {
    //padding-top: 25em;
    height: 1000px;
    i {
      font-size: 5em;
    }

    h2 {
      font-size: 3.5em;
      text-align: left;
      margin-bottom: 0.5em;
    }

    h3 {
      display: none;
    }

    p {
      line-height: 2.5em;
    }
  }

  #features {
    flex-direction: column;
    height: auto;
    padding: 3em 0;
    .item {
      width: 90%;
      height: auto;
    }
  }

  #subscribe {
    height: 300px;

    h2 {
      font-size: 1.5em;
    }

    p {
      display: none;
    }
  }
}
