@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web&display=swap");
html {
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

html button {
  outline: none;
  border: none;
  margin: 18px 0;
  padding: 20px 40px;
  background: #114253;
  color: #f3f1f0;
  letter-spacing: 2px;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

html button:hover {
  background: #19647e;
}

body {
  font-family: "Raleway";
  background: #0c0f0a;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

nav {
  z-index: 9999;
}

nav a {
  display: inline-block;
  font-weight: 400;
  text-decoration: none;
  color: #f3f1f0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-shadow: 0px 0px 5px #000000;
}

nav a:hover {
  color: #19647e;
}

nav .desktop {
  z-index: 9999;
  height: auto;
  width: 100%;
  position: fixed;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .desktop ul {
  padding: 0;
  margin: 0;
  text-align: center;
}

nav .desktop li {
  display: inline;
}

nav .desktop li a {
  margin: 1em 3em;
}

nav .mobile {
  display: none;
}

nav .btn {
  display: none;
  position: fixed;
  z-index: 999;
}

.solid {
  background: #0c0f0a;
}

.scrollSnap {
  scroll-snap-align: center;
}

.container {
  height: 100vh;
  text-align: center;
  margin: 0 auto;
  padding: 0 5rem;
  color: #f3f1f0;
}

.container hr {
  border: none;
  border-bottom: 3px solid #242e1e;
}

.container h1,
.container h2,
.container h3 {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 8px;
  text-shadow: 0px 0px 6px black;
}

.container h1 {
  font-size: 54px;
}

.container h2 {
  font-size: 42px;
}

.container h3 {
  font-size: 28px;
}

.container h4 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0;
}

.container p {
  margin: 20px 0;
  line-height: 24px;
}

.container img {
  width: 100%;
}

.center {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#home {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 15, 10, 0.2)), to(#0c0f0a)), url("../src/backgrounda.webp") fixed no-repeat;
  background: linear-gradient(to bottom, rgba(12, 15, 10, 0.2), #0c0f0a), url("../src/backgrounda.webp") fixed no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}

#home .container {
  margin-top: 34vh;
}

#home h2 {
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  color: #a4948d;
  font-size: 1em;
  letter-spacing: 1em;
  margin-bottom: 3em;
}

#home img {
  width: 80%;
  height: auto;
  margin-bottom: 1em;
}

#overview {
  display: -ms-grid;
  display: grid;
  grid-gap: 50px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

#overview i {
  font-size: 0.8em;
}

#overview p {
  margin-left: 1em;
}

#overview img {
  border-radius: 30px;
}

#coop {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../src/backgroundb.webp") fixed no-repeat;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../src/backgroundb.webp") fixed no-repeat;
  background-size: cover;
  background-position: center center;
  text-transform: lowercase;
}

#coop i {
  font-size: 10em;
  margin-bottom: 0.2em;
}

#coop h2 {
  font-size: 3em;
  margin-bottom: -3px;
}

#coop h3 {
  font-size: 1.3em;
  letter-spacing: 0.2em;
  color: #afa29b;
  margin-bottom: 1em;
}

#features {
  text-shadow: 0px 0px 6px black;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../src/backgroundc.webp") fixed no-repeat;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../src/backgroundc.webp") fixed no-repeat;
  background-size: cover;
}

#features .item {
  text-align: center;
  color: #f3f1f0;
  padding: 1em;
  width: 23%;
}

#features .item h4 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
}

#features .item h4 i {
  color: #a8dcee;
  font-size: 3em;
  display: block;
  margin-bottom: 10px;
}

#features .item p {
  margin-bottom: 2em;
}

#features .item button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#subscribe {
  height: 50vh;
  background: #0c0f0a;
  text-align: center;
}

#subscribe h2 {
  color: #f3f1f0;
  font-size: 3em;
}

#subscribe p {
  color: white;
  margin-top: 1em;
  padding: 0 3em;
}

#subscribe input {
  width: 60%;
  background: none;
  border: 2px solid #19647e;
  border-radius: 30px 0px 0px 30px;
  padding: 20px;
  font-weight: bold;
  color: #f3f1f0;
  text-align: center;
  margin: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#subscribe input::-webkit-input-placeholder {
  color: #d1c9c6;
  text-transform: uppercase;
  font-weight: 400;
}

#subscribe input:-ms-input-placeholder {
  color: #d1c9c6;
  text-transform: uppercase;
  font-weight: 400;
}

#subscribe input::-ms-input-placeholder {
  color: #d1c9c6;
  text-transform: uppercase;
  font-weight: 400;
}

#subscribe input::placeholder {
  color: #d1c9c6;
  text-transform: uppercase;
  font-weight: 400;
}

#subscribe input:focus {
  border: none;
  outline: none;
  border: 2px solid #114253;
}

#subscribe button {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 0px 30px 30px 0px;
  padding: 23px;
  margin-left: -6px;
}

footer {
  height: auto;
  background-color: #0c0f0a;
  padding: 1.6rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .leftFootSide {
  width: 50%;
}

footer .leftFootSide img {
  margin: 0;
  padding: 0;
}

footer .leftFootSide h2 {
  font-size: 8px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: lighter;
}

footer .rightFootSide {
  border-left: 1px solid #3f3f3f;
  padding-left: 1.6rem;
  width: 50%;
  text-align: right;
}

footer .rightFootSide h1 {
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 18px;
  text-transform: uppercase;
  color: #555;
  margin-bottom: 15px;
}

footer .rightFootSide ul {
  list-style-type: none;
}

footer .rightFootSide ul a {
  text-decoration: none;
  color: #aaa;
  font-family: "Montserrat";
  text-transform: lowercase;
  line-height: 2em;
  font-size: 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .rightFootSide ul a:hover {
  color: #19647e;
}

footer .bottomFootSide {
  padding: 0.5em;
  width: 100%;
  text-align: center;
}

footer .bottomFootSide p {
  color: white;
  text-transform: uppercase;
  font-size: 8px;
  font-family: "Montserrat";
}

footer .bottomFootSide img {
  margin-left: 3px;
}

/*
==================================
=         Responsiveness         =
==================================
*/
@media (min-width: 520px) and (max-width: 850px) {
  nav .desktop li a {
    margin: 1em;
    font-size: 0.8em;
  }
  #overview {
    height: auto;
    display: block;
  }
  #overview hr {
    margin-bottom: 1em;
  }
  #overview p {
    margin: 0 0 2em 0;
    text-align: right;
    line-height: 2em;
  }
  #overview img {
    display: none;
  }
  #overview button {
    margin-bottom: 2em;
  }
  #features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding: 3em 0;
  }
  #features .item {
    width: 90%;
    height: auto;
  }
}

@media (min-width: 320px) and (max-width: 520px) {
  nav {
    height: auto;
    position: fixed;
  }
  nav i {
    padding: 20px;
    background: rgba(12, 15, 10, 0.9);
    border-radius: 0px 0px 30px 0px;
  }
  nav .btn {
    display: block;
  }
  nav .desktop {
    display: none;
  }
  nav .mobile {
    display: block;
  }
  nav .mobile a {
    z-index: 2;
    position: absolute;
    color: #f3f1f0;
    font-size: 1.3em;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    margin: 1em;
    text-decoration: none;
  }
  nav .mobile a:hover {
    color: #19647e;
  }
  nav .mobile .hamburgerMenu {
    z-index: 1;
    position: relative;
    background: rgba(12, 15, 10, 0.9);
    height: 100vh;
    width: 0px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  nav .mobile .hamburgerMenu ul {
    margin: 5em 1.5em;
  }
  nav .mobile .hamburgerMenu ul li {
    margin-bottom: 2em;
    letter-spacing: 3px;
    font-size: 0.8em;
    text-transform: lowercase;
  }
  nav .mobile .hamburgerMenu img {
    max-width: 100px;
    margin: 2.5em;
  }
  .container {
    padding: 0 2rem;
  }
  #home {
    margin: 0;
  }
  #home img {
    width: 100%;
    height: 100%;
  }
  #home h2 {
    letter-spacing: 3px;
  }
  #overview {
    height: auto;
    display: block;
  }
  #overview hr {
    margin-bottom: 1em;
  }
  #overview p {
    margin: 0 0 2em 0;
    text-align: right;
    line-height: 2em;
  }
  #overview img {
    display: none;
  }
  #overview button {
    margin-bottom: 2em;
  }
  #coop {
    height: 1000px;
  }
  #coop i {
    font-size: 5em;
  }
  #coop h2 {
    font-size: 3.5em;
    text-align: left;
    margin-bottom: 0.5em;
  }
  #coop h3 {
    display: none;
  }
  #coop p {
    line-height: 2.5em;
  }
  #features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding: 3em 0;
  }
  #features .item {
    width: 90%;
    height: auto;
  }
  #subscribe {
    height: 300px;
  }
  #subscribe h2 {
    font-size: 1.5em;
  }
  #subscribe p {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */